/tribunet.iml
/.idea/
/src/documentation/post.4tc
/src/documentation/post.4ct
/src/documentation/post.aux
/src/documentation/post.blg
/src/documentation/post.bbl
/src/documentation/post.css
/src/documentation/post.dvi
/src/documentation/post.html
/src/documentation/post.idv
/src/documentation/post.lg
/src/documentation/post.log
/src/documentation/post.tmp
/src/documentation/post.xref
